@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');


// common css
.hide {
  display: none;
}

// mixin
@mixin no-hor-padding {
  padding-left: 0;
  padding-right: 0;
}
@mixin no-vert-padding {
  padding-top: 0;
  padding-bottom: 0;
}
// header
header {
  .intro-header {
    height: 150px;
    .name-wrapper {
      height: inherit;
      position: absolute;
      display: flex;
      align-items: center;
      float: left;
      .name {
        font-family: "Zen Tokyo Zoo", cursive;
        font-size: 72px;
        color: black;
      }
    }
    .title-wrapper {
      overflow: hidden;
      float: right;
      height: 25px;
      margin: 62px 0;
    }

    .title {
      height: 150%;
      text-align: center;
    }
  }
  .menu-header {
    height: 50px;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 10px 0px #33333333;
    &.sticky {
      height: 75px;
      position: fixed;
      top: 0;
      width: 100%;
      .menu-item {
        height: 75px;
      }
    }
    .logo .img-responsive {
      height: 48px;
      width: auto;
    }
    .menu-item {
      font-family: "Acme", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &:hover,
      &:active {
        cursor: pointer;
        border-bottom: 3px solid;
        box-shadow: 0px 0px 25px 10px #00000010;
      }
    }
  }
}
main {
  background-image: linear-gradient(to right, #f2f2f2, 90%, #f2f2f205),
    url(./bg.gif);
  background-repeat: repeat-y;
  background-position: right;
  height: auto;
  width: 100%;
  .main-section{
    height: inherit;
  }

  #home {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    .intro {
      text-align: center;
      font-family: 'Xanh Mono', monospace;
      font-size: 40px;
      letter-spacing: 0px;
      color: #2c2938;
      overflow: hidden;
      white-space: nowrap;
    }
    #l1 {
      width: 20px * 14;
      animation: typewriter1 2s steps(14) 1s 1 normal both;
    }
    #l2 {
      width: 20px * 40;
      animation: typewriter2 4s steps(40) 4s 1 normal both;
    }
    #l3 {
      width: 20px * 61;
      animation: typewriter3 4s steps(61) 8s 1 normal both;
    }
    #l4 {
      width: 20px * 51;
      animation: typewriter4 2s steps(51) 13s 1 normal both;
    }
   
  }
  #certificate{
    .item{
      height: 400px;
      margin: 10px 20px;
      border: 2px solid #8f8f8f;
      border-radius: 5px;
      filter: drop-shadow(0 0 10px #00000055);
    }
  }
}


@keyframes typewriter1 {
  from {
    width: 0;
  }
  to {
    width: 20px * 14;
  }
}
@keyframes typewriter2 {
  from {
    width: 0;
  }
  to {
    width: 20px * 40;
  }
}
@keyframes typewriter3 {
  from {
    width: 0;
  }
  to {
    width: 20px * 61;
  }
}
@keyframes typewriter4 {
  from {
    width: 0;
  }
  to {
    width: 20px * 51;
  }
}
