@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&display=swap");
.hide {
  display: none; }

body {
  margin: 0; }

.main {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .main::-webkit-scrollbar {
    display: none; }
  .main .container {
    padding: 0 0 0 0; }
  .main .section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: start;
    background-attachment: fixed;
    background-color: #000000; }
    .main .section .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
  .main h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 82px;
    font-weight: 800;
    color: #ccc;
    text-shadow: 2px 2px #b5b5b578; }

#home {
  background-image: linear-gradient(to right, #000000, 78%, #e4e4e405), url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; }
  #home .left {
    padding: 0 100px;
    color: #fff;
    font-size: 5em;
    font-family: "Playfair Display"; }
  #home .slider {
    height: 82px;
    overflow: hidden;
    margin-top: 120px; }
    #home .slider .slide-text {
      width: fit-content;
      font-size: 70px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: 300;
      line-height: 82px;
      letter-spacing: 0.5px; }
      #home .slider .slide-text:first-of-type {
        animation: slide 26s linear infinite; }
      #home .slider .slide-text:nth-of-type(even) {
        font-family: "Poiret One", cursive;
        text-transform: uppercase;
        text-shadow: 0px 0px 5px #e7e7e7bd; }

@keyframes slide {
  0% {
    margin-top: calc(-83px * 9); }
  8% {
    margin-top: calc(-83px * 9); }
  10% {
    margin-top: calc(-83px * 8); }
  /* 8% delay */
  18% {
    margin-top: calc(-83px * 8); }
  /* 8% delay */
  20% {
    margin-top: calc(-83px * 7); }
  28% {
    margin-top: calc(-83px * 7); }
  30% {
    margin-top: calc(-83px * 6); }
  /* 8% delay */
  38% {
    margin-top: calc(-83px * 6); }
  /* 8% delay */
  40% {
    margin-top: calc(-83px * 5); }
  48% {
    margin-top: calc(-83px * 5); }
  50% {
    margin-top: calc(-83px * 4); }
  /* 8% delay */
  58% {
    margin-top: calc(-83px * 4); }
  /* 8% delay */
  60% {
    margin-top: calc(-83px * 3); }
  /* 8% delay */
  68% {
    margin-top: calc(-83px * 3); }
  /* 8% delay */
  70% {
    margin-top: calc(-83px * 2); }
  78% {
    margin-top: calc(-83px * 2); }
  80% {
    margin-top: calc(-83px * 1); }
  /* 8% delay */
  88% {
    margin-top: calc(-83px * 1); }
  /* 8% delay */
  90% {
    margin-top: 0px; }
  100% {
    margin-top: 0px; } }
#about {
  background-image: linear-gradient(to left, #000000, 76%, #0d212500), url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; }
  #about .right .text-wrapper {
    width: 48%;
    float: right; }
  #about p {
    color: white;
    margin: 15px 0;
    font-family: 'Overlock';
    font-size: 1.5em;
    line-height: 26px; }

#certificate {
  background-image: linear-gradient(to bottom, #0d2125, 14%, #000000, 86%, #0d2125); }
  #certificate .carousel {
    height: 700px;
    width: 100%; }
    #certificate .carousel .item iframe {
      height: 645px;
      width: 825px;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
    #certificate .carousel .item:nth-of-type(4) iframe, #certificate .carousel .item:nth-of-type(5) iframe, #certificate .carousel .item:nth-of-type(6) iframe {
      height: 587px; }
  #certificate .carousel-control {
    background: none; }
    #certificate .carousel-control.right:hover {
      cursor: e-resize; }
    #certificate .carousel-control.left:hover {
      cursor: w-resize; }
  #certificate .carousel-indicators {
    bottom: 0;
    margin-bottom: 0; }
    #certificate .carousel-indicators li {
      border-color: #909090;
      width: 40px;
      height: 5px;
      margin: 0 5px; }
      #certificate .carousel-indicators li.active {
        background-color: #999;
        border: 1px solid white;
        box-shadow: 0 0 10px 2px #909090; }

#portfolio {
  padding: 0 0 25px;
  background-image: url("workspace.jpeg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat; }
  #portfolio h4 {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    text-align: center;
    color: #ccc;
    text-shadow: 2px 2px #b5b5b578; }
  #portfolio .container {
    transform: none;
    -webkit-transform: none; }
  #portfolio .bottom {
    height: 84vh;
    padding: 0 20px;
    top: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    #portfolio .bottom::-webkit-scrollbar {
      display: none; }
  #portfolio .item {
    max-height: 400px;
    margin: 25px 0;
    padding: 0;
    box-shadow: 0 0 15px 10px #00000088;
    background: #00000088;
    border-radius: 10px; }
    #portfolio .item > div {
      padding: 20px; }
    #portfolio .item:nth-of-type(odd) .img-wrapper {
      float: left; }
    #portfolio .item:nth-of-type(odd) .text-wrapper {
      float: right; }
    #portfolio .item:nth-of-type(even) .img-wrapper {
      float: right; }
    #portfolio .item:nth-of-type(even) .text-wrapper {
      float: left; }
    #portfolio .item .img-wrapper {
      width: 40%;
      height: 100%; }
    #portfolio .item .text-wrapper {
      width: 60%;
      font-size: 20px;
      color: #f2f2f2; }
      #portfolio .item .text-wrapper span {
        font-family: Arial, Helvetica, sans-serif; }
        #portfolio .item .text-wrapper span b {
          text-transform: uppercase; }
        #portfolio .item .text-wrapper span p {
          margin: 10px 0; }
        #portfolio .item .text-wrapper span b,
        #portfolio .item .text-wrapper span h4 {
          font-family: "Overlock", sans-serif;
          text-shadow: none;
          text-align: left; }
      #portfolio .item .text-wrapper h2 {
        font-family: "Overlock", sans-serif;
        text-transform: capitalize;
        margin: 20px 0; }
    #portfolio .item .img-responsive {
      width: 100%;
      height: 330px;
      border-radius: 15px; }
  #portfolio #employee_attrition .img-responsive {
    background-color: white; }

#contact {
  text-align: center;
  color: white;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #contact .container {
    width: 56%;
    padding: 60px 0;
    background: #000a;
    box-shadow: 0 0 40px 40px #000a; }
  #contact h4 {
    margin: 20px 0 45px; }
  #contact h3 {
    font-family: "Poiret One";
    margin: 50px 0; }
  #contact svg {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    box-shadow: 0 0 25px 15px #0d2125;
    filter: drop-shadow(0 0 #0d2125);
    background-color: #0d2125; }
    #contact svg path {
      fill: white;
      width: 100px;
      height: 100px; }
    #contact svg:hover {
      box-shadow: 0 0 25px 15px #0b353d;
      filter: drop-shadow(0 0 #0b353d);
      background-color: #0b353d; }
  #contact button {
    display: block;
    width: 160px;
    height: 70px;
    background: white;
    box-shadow: 0 0 20px 25px #0d2125;
    margin: 45px auto 0;
    border: 0;
    border-radius: 15px;
    text-align: center; }
    #contact button a {
      color: black;
      text-transform: uppercase;
      font-family: "Poiret One";
      font-size: 34px;
      font-weight: 800;
      line-height: 1.2; }
    #contact button:hover {
      border: 2px solid #073d48;
      box-shadow: 0 0 20px 25px #073d48; }
      #contact button:hover a {
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
