@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&display=swap");

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("./empty-street-dark-atmosphere.jpg");
  background-size: cover;
  background-position: center;
  display: flex !important;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.center {
  max-height: 50vh;
  min-height: 200px;
  width: 100vw;
  backdrop-filter: blur(10px);
  display: flex !important;
  position: relative;
  align-items: center;
  justify-content: center;
}

.center h1 {
  color: white;
  font-weight: bolder;
  font-family: "Playfair Display";
  font-size: 72px;
  text-align: center;
}

.buttons {
  position: relative;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.buttons button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 67%);
  background: #4349419e;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  padding: 0;
}
button svg, button a {
  width: 24px;
  height: 24px;
  transition: all 300ms ease;
}
button:hover {
  background: hsl(0, 0%, 67%);
  backdrop-filter: blur(12px);
  padding: 12px;
}

button:hover svg, button:hover a {
  width: 32px;
  height: 32px;
}
