@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
.hide {
  display: none; }

header .intro-header {
  height: 6em; }
  header .intro-header .name-wrapper {
    height: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    float: left; }
    header .intro-header .name-wrapper .name {
      font-family: "Zen Tokyo Zoo", cursive;
      font-size: 72px;
      color: black; }
  header .intro-header .title-wrapper {
    overflow: hidden;
    float: right;
    height: 25px;
    margin: 62px 0; }
  header .intro-header .title {
    height: 150%;
    text-align: center; }
header .menu-header {
  height: 4em;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 10px 0px #33333333; }
  header .menu-header.sticky {
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%; }
    header .menu-header.sticky .menu-item {
      height: 75px; }
  header .menu-header .logo .img-responsive {
    height: 48px;
    width: auto; }
  header .menu-header .menu-item {
    font-family: "Acme", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    header .menu-header .menu-item:hover, header .menu-header .menu-item:active {
      cursor: pointer;
      border-bottom: 3px solid;
      box-shadow: 0px 0px 25px 10px #00000010; }

main {
  background-image: linear-gradient(to right, #f2f2f2, 90%, #f2f2f205), url(./bg.gif);
  background-repeat: repeat-y;
  background-position: right;
  height: 52em;
  width: 100%; }
  main .main-section {
    height: inherit; }
  main #home {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    main #home .intro {
      text-align: center;
      font-family: "Xanh Mono", monospace;
      font-size: 40px;
      letter-spacing: 0px;
      color: #2c2938;
      overflow: hidden;
      white-space: nowrap; }
    main #home #l1 {
      width: 280px;
      animation: typewriter1 2s steps(14) 1s 1 normal both; }
    main #home #l2 {
      width: 800px;
      animation: typewriter2 4s steps(40) 4s 1 normal both; }
    main #home #l3 {
      width: 1220px;
      animation: typewriter3 4s steps(61) 8s 1 normal both; }
    main #home #l4 {
      width: 1020px;
      animation: typewriter4 2s steps(51) 13s 1 normal both; }
  main #certificate {
    margin: 30px 0; }
    main #certificate .carousel {
      height: 700px; }
      main #certificate .carousel .item iframe {
        height: 645px;
        width: 825px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%); }
      main #certificate .carousel .item:nth-of-type(4) iframe, main #certificate .carousel .item:nth-of-type(5) iframe, main #certificate .carousel .item:nth-of-type(6) iframe {
        height: 587px; }
    main #certificate .carousel-control {
      background: none; }
      main #certificate .carousel-control .glyphicon::before {
        color: black; }
    main #certificate .carousel-indicators li {
      border-color: black;
      width: 40px;
      height: 5px; }
      main #certificate .carousel-indicators li.active {
        background-color: black; }

@keyframes typewriter1 {
  from {
    width: 0; }
  to {
    width: 280px; } }
@keyframes typewriter2 {
  from {
    width: 0; }
  to {
    width: 800px; } }
@keyframes typewriter3 {
  from {
    width: 0; }
  to {
    width: 1220px; } }
@keyframes typewriter4 {
  from {
    width: 0; }
  to {
    width: 1020px; } }

/*# sourceMappingURL=style.css.map */
