@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3dddc;
  --foreground: #13163f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13163f;
    --foreground: #e3dddc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
